.profile-details {
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ff5155;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
