.login-container {
  padding-top: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.app-title {
  font-family: "Titan One", cursive;
  font-size: 10rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ff5155;
  padding-bottom: 10px;
}
.subTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  color: #ff5155;
  padding-bottom: 10px;
}
.start-game {
  padding-top: 40px;
  cursor: pointer;
}
.subtitle-text {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
  padding-right: 11px;
}
.error-text {
  padding-right: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff5155;
}
.line {
  width: 125.6px;
  height: 0;
  margin: 14.8px 17.9px 0 0;
  border: solid 0.1px #ff5155;
}
.name-input {
  padding: 15px;
  font-size: 2.5rem;
  outline: none;
  width: 30%;
  text-transform: uppercase;
  color: #032228 !important;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
  background-color: #ababab !important;
  margin: 10px;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  background-color: #ababab !important;
  color: #032228;
  text-transform: uppercase;
  opacity: 1; /* Firefox */
}
.select-input {
  font-family: "Open Sans", sans-serif;
  color: #97a5a7;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  width: 32%;
  background-color: transparent;
  font-size: 3rem;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
  margin: 10px;
}
option {
  font-size: 2.5rem;
  outline: none;
  color: #032228;
  background-color: #ababab;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
}

option:checked {
  color: white;
  background-color: #053a45;
  opacity: 0.4;
}
